/* Styling the top navigation bar*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}



.navigation-links ul{

    list-style-type: none;
    padding: 0;
    font-size: medium;
    text-align: center; 
} 

.navigation-links li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;

}
.navigation-links a{
    color: black;
    text-decoration: none;
    padding: 0px;
    margin: 15px;
    width: 70px;
    display: block;
    font-size: 17px;
    
}
header{
    background-color: white;
    height: 3rem;
}
 .navigation-links ul >li:hover{
   
    background-color:rgb(220,228,249);
    transition: all 0.3s  ease-in-out ;
 }

 .navigation-links ul li:hover >a{
   color:rgb(36, 100, 202) ;
   transition: all 0.3s  ease-in-out ;

}
.hero-section{
    margin-top: 16px;
    background-color: rgb(247,249,249)
   

}
.profile-image{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 20px;
   padding-bottom: 20px;
}


.short-about{
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
} 

footer{
    background-color: rgb(247,249,249)
}
.socialmedia-icons{
    display: flex;
    justify-content: center;
    
}
.github-icon{
    padding: 20px;
}
.linkedin-icon{
    padding: 20px;
    color:blue;
}
.twitter-icon{
    padding: 20px;
    
}
.instagram-icon{
    padding: 20px;

}
.aboutme-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
}

.aboutme-button button {
    font-size: 15px;
    padding: 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid rgb(228, 225, 225);
    cursor: pointer;
}

.footer-link ul{
    list-style-type: none;
    padding-left: opx;
    font-size: medium;
    

}

.footer-link li{
    padding: 10px;

}

.footer-link a{
    color: #64748b;
    text-decoration: none;
    font-size: 17px;
}

.extras-link ul{
    list-style-type: none;
    padding-left: 20px;
    font-size: medium;

   

}

.extras-link li{
    padding: 10px;

}

.extras-link a{
    color: #64748b;
    text-decoration: none;
    font-size: 17px;
}
footer{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    

}
